
html {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 40pt;
    color: blue;
    text-align: center;
}

a {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
}

table {
    width:70%;
    align-self: center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}